

@media only screen and (max-width:1041px) {
  .nevegation-bar {
    position: relative;
    padding: 0 20px;
}
.nevegation-bar .list {
    
}
.list-iteam {
    flex-direction: column;
    position: absolute;
     top: 10px;
    left: 0;
    right: 0;
    align-items: center;
    width: 100%;
    list-style-type: none;
    background-color: #fff;
    padding: 20px 0;
    gap: 10px;
}

  .Hero-Section{
    margin-top: 200px;
    display: block;
    display: inline;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.left-section{
 justify-content: center;
 
 align-items: center;
 }
 .right-section{
  justify-content: flex-start;
 
}
.left-img{
  display: none;
  display: block;
 
 }
 .second-section{
  display: block;
   display: inline;
   flex-wrap: wrap;
   align-items: center;
   margin-top: 50px;
   display: flex;
   justify-content: center;
  
 
 }
 .third-section{
  flex-wrap: wrap;
  margin-top: 50px;
  display: flex;
}                            
.third-section-img{
  display: flex;
  height: 200px;

}
.forth-section{
  flex-wrap: wrap;
  }
  .forth-main-h-and-p p {
    font-size: 10px;
    margin-top: 30px;
    line-height: 20px;
   
}

.last-section{
  color: white;
   display: flex;
 flex-wrap: wrap;
 justify-content: center;
 }
 .last-heading-left{
   margin-right: 200px;
 }
 .last-heading-left h1{
   font-size: 25px;
 }
 .six-heading h1{
  display: flex;
  font-size: 35px;
  justify-content: center;
  padding-bottom:20px ;
 }
 .six-heading p{
  font-size: 10px;
}

 }


 
 @media only screen and (max-width:600px) {
  .last-heading-left p{
    margin-top: 20px;
    font-size: 10px;
  }
  
 }


@media only screen and (max-width:1060px) {
  .Hero-Section{
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
   .list-iteam{ 
    position: absolute;
    gap: 50px;
    /* flex-wrap: wrap; */
    
  } 
 

}

@media only screen and (max-width:1300px) 
{
  .Hero-Section{
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }
  .right-section {
    order: -1;
}
  .left-section h1{
    font-size: 40px;
    font-weight: 700;
   }
   .left-section p{
    font-size: 10px;
    margin-top: 30px;
    line-height: 20px;
   }
  .left-img{
    display: flex;
    height: 300px;
   }
          
   .second-section{
    margin-top: 300px;
    display: flex;
    justify-content: center;
   
   }
   .second-img{
    display: flex;
    height: 300px;
    margin-right: 20px;
   }
   .second-right-part h1{
    margin-top: 20px;
    line-height: 50px;
     font-size: 40px;
     
   }
   .second-right-part p{
    margin-top: 20px;
    font-size: 10px;
    font-weight:700;
    line-height: 25px;
   }
   .third-section-img{
    display: flex;
    height: 400px;
    
  }
  .third-section-left h1{
    margin-top: 20px;
    line-height: 50px;
    font-size: 40px;
  }
  .third-section-left p{
    margin-top: 20px;
    font-size: 12px;
    font-weight:500;
    line-height: 20px;
  }
  .forth-main-h-and-p{ 
     flex-wrap: wrap;
    align-items: center;
   justify-content: center;
   font-size: 20px;
    }
    .forth-main-h-and-p h1 {
      line-height: 50px;
      font-size: 40px;
      color: rgb(61, 57, 57);
  }
    .heading{
      line-height: 50px;
      font-size: 40px;
      color: rgb(61, 57, 57);
     }
     .pairagraph {
      font-size: 15px;
      font-weight:700;
      line-height: 30px;
      color: rgb(179, 184, 189);
   }
     .paira{
      font-size: 15px;
      font-weight:700;
      line-height: 30px;
      color: rgb(179, 184, 189);
     }
     .thorhosting-pairent-div{
  
      display: flex;
      flex-wrap: wrap;
    
    }
    .sectin-five{
      margin-top: 50px;
    }
    .section-five-price-card{
      flex-wrap: wrap;
      gap: 40px;
    }
    .six-heading h1{
      display: flex;
      font-size: 40px;
      justify-content: center;
      padding-bottom:20px ;
     }
     .six-heading p{
      font-size: 12px;
    }
  .six-sec-blog{
 
  flex-wrap: wrap;
  gap: 40px;
}
.last-heading-left h1{
  font-size: 30px;
}
.last-heading-left p{
  margin-top: 10px;
}
.button-last{
  border:  1px solid rgb(197, 199, 201);
  background-color:transparent;
  color: white;
  font-weight: 900;
  border-radius: 10px;
  margin-left: -50px;
  margin-top: 20px;
  padding: 10px 30px;
  cursor: pointer;
  flex-wrap: wrap;
}
.main-footer{

  flex-wrap: wrap;
  gap: 50px;
}

}
